
<div class="container" id="editUserContainer">
  <div class="row" id="editUserBox">
    <div class="col col-lg-6 col-md-4" id="imageCol">
      <div class="image-container">
        <%= image_tag("editCurrri.jpg", alt: "Register Image", class: "cover-image")%>
      </div>
    </div>
    <div class="col col-lg-6 col-xs-12 col-sm-12 col-md-8">

      <h2  id="editUserTitle">Editar Usuario </h2>
      <div class="registerForm">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
            <%= f.input :name, label: "Nombre(s) ",
                        required: false,
                        input_html: { autocomplete: "name" } %>
            <%= f.input :lastname, label: "Apellidos ",
                        required: false,
                        input_html: { autocomplete: "lastname" } %>
            <%= f.input :password, label: "Contraseña: ",
                        hint: "déjalo en blanco si no quieres cambiarlo",
                        required: false,
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation, label: "Confirmar contraseña: ",
                        required: false,
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :current_password, label: "Contraseña actual: ",
                        hint: "necesitamos su contraseña actual para confirmar sus cambios",
                        required: true,
                        input_html: { autocomplete: "current-password" } %>
          </div>
          <div class="row">
            <div class="col col-sm-12 col-md-6" style="flex: initial">
              <div class="buton-area text-center mt-5">
                <%= f.button :submit, "Guardar Cambios" %>
              </div>
            </div>
            <div class="col col-sm-12 col-md-6" style="flex: initial">
              <div class="buton-area text-center">
                <div class="btn" id="backButton"> <%= link_to "Regresar", :back, style: "text-decoration: none; color: white"%> </div>
              </div>
            </div>
          </div>
          
          
        <% end %>
          <div style="margin-top:30px">
            <%= link_to "Eliminar Cuenta", registration_path(resource_name),data: {turbo_method: :delete, turbo_confirm: "¿Estas seguro de querer realizar esta acción? Sí tienes citas aprobadas será necesario comunicarse con un administrador para el posible reembolso." }%>
          </div>
        </div>
      </div>  
    </div>
  </div>  
</div>
