<div class="container" id="editProfessionalContainer">
  <div class="row" id="editProfessionalBox">
    <div class="col col-lg-6 col-md-4" id="imageCol">
      <div class="image-container">
        <%= image_tag("editCurrri.jpg", alt: "Register Image", class: "cover-image")%>
      </div>
    </div>
    <div class="col col-lg-6 col-xs-12 col-sm-12 col-md-8">
      <h1 id="editProfessionalProfile">Perfil Profesional: <%= "#{@professional.user.name} #{@professional.user.lastname}" %> </h1>
      <div class="registerForm">
        <%= simple_form_for( @professional, url:  professional_path(@professional.id), method: :patch,
          data: {turbo: false}) do |f| %>

          <%= f.error_notification %>

          <div class="form-inputs">

                      <%# NEW INPUTS  %>
            <%= f.input :branch, label: "Especialidad",
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "branch" }%>

            <%= f.input :adress, label: "Dirección: ",
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "adress" }%>

            <%= f.input :diploma, label: "Número de Cédula: ",
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "diploma" }%>

            <%= f.input :first_cost, label: "Costo de Primera Consulta ",
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "first_cost" }%>

            <%= f.input :follow_cost, label: "Costo de Segunda Consulta ",
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "follow_cost" }%>

            <%= f.input :photo, label: "Cambiar foto de perfil: ",
            as: :file %>

          </div>

          <div class="buton-area text-center mt-5">
            <%= f.button :submit, "Guardar Cambios" %>
          </div>
        <% end %>
        <%# <%= link_to "Borrar Cuenta Profesional",
                    new_professional_path(@professional.id),
                    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
                %> 
        </div>
        
      </div>  
    </div> 
  </div>
</div>