<h1>Perfil Profesional: <%= "#{@professional.user.name} #{@professional.user.lastname}" %> </h1>

<%= simple_form_for( @professional,
  data: {turbo: false}) do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">

              <%# NEW INPUTS  %>
    <%= f.input :branch, label: "Especialidad",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "branch" }%>

    <%= f.input :adress, label: "Dirección: ",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "adress" }%>

    <%= f.input :diploma, label: "Número de Cédula: ",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "diploma" }%>

    <%= f.input :first_cost, label: "Costo de Primera Consulta ",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "first_cost" }%>

    <%= f.input :follow_cost, label: "Costo de Segunda Consulta ",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "follow_cost" }%>

    <%= f.input :photo, label: "Costo de Primera Consulta ",
    as: :file %>

  </div>

  <div class="btn btn-flat">
    <%= f.button :submit, "Actualizar" %>
  </div>
<% end %>

</div>

<br>
<br>

<%= link_to "Borrar Cuenta Profesional",
    professional_path(@professional),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
