<div class="container" id="editProfessionalContainer" data-controller="map-select" data-map-select-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" data-map-select-marker-value="<%= @marker.to_json %>" >
  <div class="row" id="editProfessionalBox">
    <div class="col col-lg-6 col-md-4" id="imageCol">
      <div class="image-container">
        <%= image_tag("editCurrri.jpg", alt: "Register Image", class: "cover-image")%>
      </div>
    </div>
    <div class="col col-lg-6 col-xs-12 col-sm-12 col-md-8">
      <h1 id="editProfessionalProfile">Perfil Profesional: <%= "#{@professional.user.name} #{@professional.user.lastname}" %> </h1>
      <div class="registerForm">
        <%= simple_form_for( @professional, url:  professional_path(@professional.id), method: :patch,
          data: {turbo: false}) do |f| %>

          <%= f.error_notification %>

          <div class="form-inputs">

                      <%# NEW INPUTS  %>
            <%= f.input :branch, label: "Especialidad",
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "branch" }%>

            <p>Dirección:*</p>
            <div id="map-container" style="height: 400px;" data-map-select-target="mapContainer"></div>
            <%= f.text_field :adress, id: "adress", data: { map_select_target: "addressField" }, style: "width: 100%; margin-bottom: 15px", readonly: true%>
            <%= f.hidden_field :longitude, id: "longitude", data: { map_select_target: "longitudeField" }%>
            <%= f.hidden_field :latitude, id: "latitude", data: { map_select_target: "latitudeField" } %>


            <%= f.input :first_cost, label: "Costo de Primera Consulta ",
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "first_cost" }%>

            <%= f.input :follow_cost, label: "Costo de Segunda Consulta ",
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "follow_cost" }%>

            <p style="font-weight: bold">Horarios de atención</p>
            <%= f.input :days, label: "Días laborales:", autofocus: true, input_html: { autocomplete: "days"} %>
            <div style="margin-bottom: 15px">
              <%= f.label :startAttendingTime, "Desde: ", required: true %>
              <div>
              <%= f.time_field :startAttendingTime, required: true, class: "picker-time" %>
              </div>
            </div>
            <div style="margin-bottom: 15px">
              <%= f.label :endAttendingTime, "Hasta: ", required: true %>
              <div>
                <%= f.time_field :endAttendingTime, required: true, class: "picker-time"%>
              </div>
            </div>

            <%= f.input :photo, label: "Cambiar foto de perfil: ",
            as: :file %>

          </div>

          
            <div class="row">
            <div class="col col-sm-12 col-md-6" style="flex: initial">
              <div class="buton-area text-center mt-5">
                <%= f.button :submit, "Guardar Cambios" %>
              </div>
            </div>
            <div class="col col-sm-12 col-md-6" style="flex: initial">
              <div class="buton-area text-center">
                <div class="btn" id="backButton"> <%= link_to "Regresar", :back, style: "text-decoration: none; color: white"%> </div>
              </div>
            </div>
          </div>
        <% end %>
          <%= link_to "Borrar Cuenta Profesional", delete_professional_path(@professional.id), data: {turbo_method: :delete, turbo_confirm: "¿Estas seguro de querer realizar esta acción?"} %> 
        </div>
      </div>  
    </div> 
  </div>
</div>