<h1 id="professionistIndexTitle">Nutritiólogos verificados</h1>


<h2> <%= @professional %>  </h2>

<%= form_tag professionals_path, method: :get do %>
  <div class="input-group mb-3 mt-4" id="buscadorContainer">
    <%= text_field_tag :search, params[:search], placeholder: "Buscar profesionales", class: "form-control", style: "border-top-left-radius: 20px; border-bottom-left-radius: 20px"%>
    <%= submit_tag "Buscar", class: "btn btn-light", style: "border-top-right-radius: 20px; border-bottom-right-radius: 20px; background-color: #ee7784; border-color: #ee7784"%>
  </div>  
<% end %>

<div class="show-map">
  <div class="cards">
      <% @professionals.each do |professional|  %>

    <div class="card-trip">

      <%= link_to cl_image_tag(professional.photo.key.to_s,
      width: 350, height: 280, :gravity=>"face", crop: :fill), show_by_name_professional_path( id: professional.id, name: "#{professional.user.name.parameterize}-#{professional.user.lastname.parameterize}")  %>
      <div class="card-trip-infos">
        <div>
        <h6 class="scoreValue" style="display: none"> <%= professional.reviews.average(:score).to_f.round(1) %> </h6>
          <ul class="rating-stars">
            <p class="pTagCardRating"> Rating: </p>
            <li><i class="far fa-star"></i></li>
            <li><i class="far fa-star"></i></li>
            <li><i class="far fa-star"></i></li>
            <li><i class="far fa-star"></i></li>
            <li><i class="far fa-star"></i></li>
            <% if professional.reviews %>
              <p class="pTagCardRating">(<%= professional.reviews.length %>)</p> 
            <% else %>
              <p class="pTagCardRating">(0)</p> 
            <% end %>
          </ul>
          <div class="nameContainer">
            <h3><%= link_to "#{professional.user.name} #{professional.user.lastname}",  show_by_name_professional_path( id: professional.id, name:  "#{professional.user.name.parameterize}-#{professional.user.lastname.parameterize}") %></h3>
          </div>
          <div class="branchContainer">
            <p> Especialidad(es): <%= professional.branch %></p>
          </div>
          <h6 class="cedulaTag"> Cédula: <%= professional.diploma %></h6>
          <p> <%= professional.adress %></p>
        </div>
        <h2 class="card-trip-pricing">$<%= professional.first_cost %></h2>
      </div>
    </div>
    <% end %>
  </div>

    <div class="mapa"
    style="margin-top: 30px; margin-right: 30px; width: 90%; margin-bottom: 30px"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

</div>

<script>
$(document).ready(function() {
  $('.rating-stars').each(function() {
    let scoreElement = $(this).prev('.scoreValue'); 
    let scoreText = scoreElement.text();
    let scoreValue = parseFloat(scoreText);
    let rating = scoreValue; 

    let stars = $(this).find('li');
 
    let fullStars = Math.floor(rating);
    let partialStar = rating - fullStars;

    stars.each(function(index) {
      if (index < fullStars) {
        $(this).html('<i class="fas fa-star"></i>'); 
      } else if (index === fullStars && partialStar > 0) {
        $(this).html('<i class="fas fa-star-half-alt"></i>'); 
      } else {
        $(this).html('<i class="far fa-star"></i>'); 
      }
    });
  });
});
</script>