<h1 style="margin:16px">Nutritiólogos  cerca:</h1>


<h2> <%= @professional %>  </h2>

<%= form_tag professionals_path, method: :get do %>
  <%= text_field_tag :search, params[:search], placeholder: "Buscar profesionales" %>
  <%= submit_tag "Buscar" %>
<% end %>

<div class="show-map">
  <div class="cards">
      <% @professionals.each do |professional|  %>

    <div class="card-trip">

      <%= link_to cl_image_tag(professional.photo.key.to_s,
      width: 400, height: 300, :gravity=>"face", crop: :fill), show_by_name_professional_path( id: professional.id, name: "#{professional.user.name.parameterize}-#{professional.user.lastname.parameterize}")  %>
      <div class="card-trip-infos">
        <div>
          <% @rating=5 %>
          <h2> Rating:
          <% @rating.times do %>
              <i class="fa-regular fa-star "></i>
            <% end %></h2>

          <h3><%= link_to "#{professional.user.name} #{professional.user.lastname}",  show_by_name_professional_path( id: professional.id, name:  "#{professional.user.name.parameterize}-#{professional.user.lastname.parameterize}") %></h3>
          <h2> <%= professional.branch %></h2>
          <h6> Cédula: <%= professional.diploma %></h6>
          <h6 class="scoreValue"> <%= professional.reviews.average(:score).to_f.round(1) %> </h6>
          <ul class="rating-stars">
            <li><i class="far fa-star"></i></li>
            <li><i class="far fa-star"></i></li>
            <li><i class="far fa-star"></i></li>
            <li><i class="far fa-star"></i></li>
            <li><i class="far fa-star"></i></li>
            <% if professional.reviews %>
                <p>(<%= professional.reviews.length %>)</p> 
            <% else %>
                <p>(0)</p> 
            <% end %>
          </ul>
          <p> <%= professional.adress %></p>

        </div>
        <h2 class="card-trip-pricing">$<%= professional.first_cost %></h2>
      </div>
    </div>
    <% end %>
  </div>
  <div class="mapa"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<script>
$(document).ready(function() {
  $('.rating-stars').each(function() {
    let scoreElement = $(this).prev('.scoreValue'); 
    let scoreText = scoreElement.text();
    let scoreValue = parseFloat(scoreText);
    let rating = scoreValue; 

    let stars = $(this).find('li');
 
    let fullStars = Math.floor(rating);
    let partialStar = rating - fullStars;

    stars.each(function(index) {
      if (index < fullStars) {
        $(this).html('<i class="fas fa-star"></i>'); 
      } else if (index === fullStars && partialStar > 0) {
        $(this).html('<i class="fas fa-star-half-alt"></i>'); 
      } else {
        $(this).html('<i class="far fa-star"></i>'); 
      }
    });
  });
});
</script>