<div class="container">
<h1> Eres Nutriólogo?</h1>
<h2>Inscríbete, es muy fácil</h2>
<p> En menos de 24h recibirás una confirmación</p>

<%= simple_form_for( @professional,
  data: {turbo: false}) do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">

              <%# NEW INPUTS  %>
    <%= f.input :branch, label: "Especialidad",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "branch" }%>

    <%= f.input :adress, label: "Dirección: ",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "adress" }%>

    <%= f.input :diploma, label: "Número de Cédula: ",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "diploma" }%>

    <%= f.input :first_cost, label: "Costo de Primera Consulta ",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "first_cost" }%>

    <%= f.input :follow_cost, label: "Costo de Segunda Consulta ",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "follow_cost" }%>

    <%= f.input :photo, label: "foto ",
    as: :file %>




  </div>

  <div class="btn btn-flat" style="color:white">
    <%= f.button :submit, "Registrarse" %>
  </div>
<% end %>

</div>
