 <div class="card-profile"
      style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= asset_path('forProfile.jpg') %>')">
  </div>


<div class="container" >
  <div class="row main-row">

    <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" id="colLeftProfile">
      <%= render 'professionals/profile/user_general_info' %>
    </div>

    <div class="col col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8" id="colRightProfile">
      <div class="contenedorDerecho"  data-controller="tab-menu">

        <%= render 'professionals/profile/tab_menu' %>
        
        <div class="contenedorSecciones">
 
          <div class="tabcontent tabs-container" data-tab-menu-target="tabcontent" id="tab1">
            <%= render 'professionals/profile/mapa' %>
          </div>

          <div class="tabcontent tabs-container" data-tab-menu-target="tabcontent" id="tab2">
            <%= render 'professionals/profile/gallery' %>
          </div>

          <div class="tabcontent tabs-container" data-tab-menu-target="tabcontent" id="tab3">
            <h3>Area profesional</h3>
            <p>Aqui van las certificaciones o lo que quiera el nutriologo</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus doloribus eius dignissimos ea pariatur inventore, dolorem consequuntur? Aliquam suscipit animi deserunt quaerat sapiente eius nostrum accusantium, atque non dolore? Non libero neque, provident saepe dolore ducimus rerum excepturi earum ad deserunt commodi error distinctio itaque cumque! Consectetur aspernatur ipsa eveniet?</p>
          </div>

          <div class="tabcontent tabs-container" data-tab-menu-target="tabcontent" id="tab4">
            <%= render 'professionals/profile/ranking_and_comments' %>
          </div>       
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  $('.rating-stars').each(function() {
    let scoreElement = document.getElementById("scoreValue");
    let scoreText = scoreElement.textContent
    let scoreValue = parseFloat(scoreText);
    let rating = scoreValue; // Valor float obtenido desde el backend o cualquier fuente de datos en el front-end

    
    let stars = $(this).find('li');
    // Calcula el número de estrellas llenas y parciales
    let fullStars = Math.floor(rating);
    let partialStar = rating - fullStars;

    // Establece las clases adecuadas en las estrellas
    stars.each(function(index) {
      if (index < fullStars) {
        $(this).html('<i class="fas fa-star"></i>'); // Estrella llena
      } else if (index === fullStars && partialStar > 0) {
        $(this).html('<i class="fas fa-star-half-alt"></i>'); // Estrella parcial
      } else {
        $(this).html('<i class="far fa-star"></i>'); // Estrella vacía
      }
    });
  })
});
</script>