
  <div class="card-category-1"
    style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/dp693fkkc/image/upload/v1667079173/bannerfruits_ks77xr.jpg')">
  </div>

<div class="show-map">
  <div class="container">
  <%if @current_user.professional%>
    <% if @professional.id == @current_user.professional.id%>
      <h1>Perfil</h1>
    <% end %>
  <%else%>
    <h1 style="margin:48px"><%= "#{@professional.user.name} #{@professional.user.lastname}"  %></h1>
  <%end%>
    
    <img src="<%= @professional.photo.url%>" class="avatar-bordered" style="margin-left: 48px"/>
    <h2 style="margin-left: 48px"> <%= @professional.branch %></h2>
    <p style="margin-left: 48px"><strong> Ubicación Consultorio: </strong> <%= @professional.adress %></p>
    <p style="margin-left: 48px"> <strong> Primera Consulta:  </strong> $<%= @professional.first_cost %></p>
    <p style="margin-left: 48px"> <strong> Segunda Consulta:  </strong> $<%= @professional.follow_cost %></p>
    <p style="margin-left: 48px"><strong> Teléfono </strong> <%= @professional.user.phone %></p>
    <p style="margin-left: 48px"><strong> Email: </strong> <%= @professional.user.email %></p>

    
    <% if !@current_user.professional %>
      <div class="btn btn-flat" style="margin-left: 48px">
      <%= link_to "Agendar Cita", new_professional_appointment_path(@professional)  %>
    </div>
    <% end %>
    <%if @current_user.professional %>
      <% if @professional.id == @current_user.professional.id%>
        <li class="btn btn-flat" >
          <%= link_to "Próximas citas", professional_appointments_path(@professional)%>
        </li>
      <% end %>
    <%end%>
  </div>
  <div class="container map">
    <div style="width: 850px; height: 540px; margin-top:24px"
      data-controller="map-show"
      data-map-show-marker-value="<%= @marker.to_json %>"
      data-map-show-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>
</div>