<h3>Galeria de imagenes</h3>
<%if @current_user.professional %>
    <% if @professional.id == @current_user.professional.id%>
    <form>
        <div class="input-group">
            <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Subir Imagen">
            <button class="btn btn-primary" id="inputGroupFileAddon04" type="submit">Subir Imagen</button>
        </div>       
    </form>
    <%end%>
<%end%>    

<div class="row mt-4">
    <div class="item col-sm-6 col-md-6 col-lg-4 mb-3">
        <a href="<%= asset_path('imageGallery1.jpg') %>" class="fancybox" data-fancybox="gallery">
            <%= image_tag "imageGallery1.jpg", alt: "" %>
        </a>
    </div>  
    <div class="item col-sm-6 col-md-6 col-lg-4 mb-3">
        <a href="<%= asset_path('imageGallery2.jpg') %>" class="fancybox" data-fancybox="gallery">
            <%= image_tag "imageGallery2.jpg", alt: "" %>
        </a>
    </div>  
    <div class="item col-sm-6 col-md-6 col-lg-4 mb-3">
        <a href="<%= asset_path('imageGallery3.jpg') %>" class="fancybox" data-fancybox="gallery">
            <%= image_tag "imageGallery3.jpg", alt: "" %>
        </a>
    </div>  
    <div class="item col-sm-6 col-md-6 col-lg-4 mb-3">
        <a href="<%= asset_path('imageGallery4.jpg') %>" class="fancybox" data-fancybox="gallery">
            <%= image_tag "imageGallery4.jpg", alt: "" %>
        </a>
    </div>  
    <div class="item col-sm-6 col-md-6 col-lg-4 mb-3">
        <a href="<%= asset_path('imageGallery5.jpg') %>" class="fancybox" data-fancybox="gallery">
            <%= image_tag "imageGallery5.jpg", alt: "" %>
        </a>
    </div>  
    <div class="item col-sm-6 col-md-6 col-lg-4 mb-3">
        <a href="<%= asset_path('imageGallery6.jpg') %>" class="fancybox" data-fancybox="gallery">
            <%= image_tag "imageGallery6.jpg", alt: "" %>
        </a>
    </div>              
</div>