<div class="container" style="display:flex; align-items: center; justify-content: center; height: 100%">
  <div style="width: 80%; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); padding: 30px; border-radius: 10px ">
    <h1 class="text-center" style="margin-bottom: 30px">Cambia tu contrase単a</h1>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, local: true }) do |f| %>
      <%= f.error_notification %>

      <%= f.input :reset_password_token, as: :hidden %>
      <%= f.full_error :reset_password_token %>

      <div class="form-inputs">
        <%= f.input :password,
                    label: "Nueva contrase単a",
                    required: true,
                    autofocus: true,
                    hint: ("#{@minimum_password_length} caracteres minimo" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    label: "Confirma la nueva contrase単a",
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="text-center">
          <div class="buton-area text-center">
            <%= f.button :submit, "Cambiar contrase単a",class: "btn", style: "color: white; margin-top: 30px" %>
          </div>
      </div>
    <% end %>
  </div>
</div>
