<div style="position: sticky !important" id="navbar" class="navbar navbar-expand-lg navbar-light navbar-lewagon">
  <div class="container-fluid" style="width: 90%">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin: 0">
      <ul class="navbar-nav me-auto">

        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "/", class: "nav-link" %>
          </li>
          <li class="nav-item active">
            
            <% if current_user.nutritionist %>
              <%= link_to "Mis citas", professional_appointments_path(current_user.professional.id), class: "nav-link" %>
            <%else%>
              <%= link_to "Mis citas", appointments_path, class: "nav-link" %>
            <% end %>
            
            
          </li>
          <li class="nav-item">
            <%= link_to "Buscar Nutri贸logos", professionals_path, class: "nav-link" %>
          </li>

          <% if current_user.nutritionist == false %>
          <li class="nav-item">
            <%= link_to "Eres Nutri贸logo?", new_professional_path, class: "nav-link" %>
          </li>
          <% end %>

          <% if current_user.nutritionist %>

          <li class="nav-item">
            <%= link_to "Curriculum ", edit_professional_path(current_user.professional.id), class: "nav-link" %>
          </li>
          <% end %>


          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" style="margin: 0" id="navDrop" role="button" data-bs-toggle="dropdown" aria-expanden="false">
              <%= current_user.name %> <i class="fa-solid fa-circle-user" style="font-size: 1.2rem; margin-left: 5px"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%# <%= link_to "Subir foto", "#", class: "dropdown-item" %>
              <li><%= link_to "Editar Perfil", edit_user_registration_path, class: "dropdown-item" %></li>
              <%= link_to "Cerrar Sesi贸n", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </ul>
          </li>

        <% else %>
          <li class="nav-item" style="margin: 0px">
            <%= link_to raw('Iniciar Sesi贸n <i class="fa-solid fa-right-to-bracket"></i>'), new_user_session_path, class: "nav-link".html_safe, style: "margin: 0px"%>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
