<div class="container" id="newProfessionalContainer">
  <div class="row" id="newProfessionalBox">
    <div class="col col-lg-6 col-md-4" id="imageCol">
      <div class="image-container">
        <%= image_tag("register.jpg", alt: "Cutting food", class: "cover-image")%>
      </div>
    </div>
    <div class="col col-lg-6 col-xs-12 col-sm-12 col-md-8">
      <h1 class="mt-5" id="newProfessionalTitle"> Eres Nutriólogo?</h1>
      <h2 id="inscribete">Inscríbete, es muy fácil</h2>
      <p> En menos de 24h recibirás una confirmación</p>
      <div class="registerForm">
        <%= simple_form_for( @professional_account_request, data: {turbo: false}) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :username, label: "Nombre de usuario unico:", required: true, autofocus: true, input_html: { autocomplete: "username" }%>
            <%= f.input :branch, label: "Especialidad:", required: true, autofocus: true, input_html: { autocomplete: "branch" }%>
            <%= f.input :adress, label: "Dirección: ", required: true, autofocus: true, input_html: { autocomplete: "adress" }%>
            <%= f.input :diploma, label: "Número de Cédula: ", required: true, autofocus: true, input_html: { autocomplete: "diploma" }%>
            <%= f.input :first_cost, label: "Costo de Primera Consulta ", required: true, autofocus: true, input_html: { autocomplete: "first_cost" }%>
            <%= f.input :follow_cost, label: "Costo de Segunda Consulta ", required: true, autofocus: true, input_html: { autocomplete: "follow_cost" }%>
            <p style="font-weight: bold">Horarios de atención</p>
            <div style="margin-bottom: 15px">
              <%= f.label :startAttendingTime, "Desde: ", required: true %>
              <div>
              <%= f.time_field :startAttendingTime, required: true, class: "picker-time" %>
              </div>
            </div>
            <div style="margin-bottom: 15px">
              <%= f.label :endAttendingTime, "Hasta: ", required: true %>
              <div>
                <%= f.time_field :endAttendingTime, required: true, class: "picker-time"%>
              </div>
            </div>
            <%= f.input :photo, label: "Foto de perfil: ", as: :file %>
          </div>
          <div class="buton-area text-center" style="margin-top: 30px">
            <%= f.button :submit, "Registrarse" %>
          </div>
        <% end %>
      </div> 
    </div>  
  </div>
</div>
