<div style="width: 70%; margin: 20px auto 0 auto">
  <h1 style="padding: 20px">Hola <%= @professional_name %>, te notificamos que tienes una nueva cita pendiente por aprobar.</h1>
  <div style="padding: 20px">
    <h2 style="margin-bottom: 20px">Información de la cita:</h2>
    <div style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; padding: 20px">
      <h3>Paciente: <%= @user_name %></h3>
      <h3>Fecha de la cita: <%= @appointment_date %> </h3>
      <h3>Hora de la cita: <%= @appointment_time %> </h3>
      <h3>
        <% if @online %>
          Tipo de cita: Virtual
        <% else %>
          Tipo de cita: Presencial
        <% end %>
      </h3>
    </div>
    <p>Para acceder a tu cuenta y ver la cita, por favor haz clic en el siguiente enlace:</p>
    <%= link_to 'Iniciar sesión', login_with_token_url(authentication_token: @authentication_token) %>
  </div>
</div>
