<div style="width: 70%; margin: 20px auto 0 auto">
  <h1 style="padding: 5px; text-align: center">Hola <%= @professional_name %>, te notificamos que tienes una nueva cita pendiente por aprobar.</h1>
  <div style="padding: 20px">
    <h2 style="margin-bottom: 20px; font-size: 1.5rem">Información de la cita:</h2>
    <div style="padding: 20px; color: cadetblue; background-color: white;">
      <h3>Paciente: <%= @user_name %></h3>
      <h3>Fecha de la cita: <%= @appointment_date %> </h3>
      <h3>Hora de la cita: <%= @appointment_time %> </h3>
      <h3>
        <% if @online %>
          Tipo de cita: Virtual
        <% else %>
          Tipo de cita: Presencial
        <% end %>
      </h3>
    </div>
    <p style="font-size: 1.1rem">Para acceder a tu cuenta y ver la cita, por favor haz clic en el siguiente enlace:</p>
    <%= link_to 'Iniciar sesión', login_with_token_url(authentication_token: @authentication_token), style: "font-size: 1.5rem" %>
  </div>
</div>
