
<% @ranking= @professionals %>
<% @top1= @ranking[0]%>
<% @top2= @ranking[1]%>
<% @top3= @ranking[2]%>
<% @top4= @ranking[3]%>
<% @top5= @ranking[4]%>
<% @top6= @ranking[5]%>

<% if user_signed_in? %>
  <section  id="firstSection">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://res.cloudinary.com/dp693fkkc/image/upload/v1667078055/hero-bg_quswze.jpg); display: flex; align-items: center;">
      <div class="container text-center">
        <h1 class="bannerTitle" style="color: white">Bienvenido a Nutrialic</h1>
        <p style="color: white">Felicitaciones por comenzar este viaje junto a nosotros. Cuenta con nuestro apoyo para lograr tus objetivos y mantente enfocado en tus metas!</p>
      </div>
    </div>
  </section>
<% else %>
  <section id="firstSection" >
    <div class="banner" >
      <div class="container text-center" id="firstSectionContent">
        <%= image_tag("nutricion.png", alt: "logo", id: "nutricionPng")%>
        <%= image_tag("dieta.png", alt: "logo", id: "dietaPng")%>
        <%= image_tag("manzanita.png", alt: "logo", id: "manzanitaPng")%>
        <%= image_tag("verdura.png", alt: "logo", id: "verduraPng")%>   
        <div class="titleContainer" ><h1 class="bannerTitle">Nutrialic hace que la Nutrición sea accesible para todos</h1></div>
        <div style="width: 80%; margin-left:auto; margin-right: auto">
          <p style="margin-bottom: 0px">Sí quieres mejorar tu alimentación, ¡Registrate como Usuario!</p>
          <p> Sí eres nutriólogo, ¡Registrate como Profesional!</p>
        </div>
        <%= link_to "¡Registrate y comienza tu viaje!", new_user_registration_path, class:"btn",id: "btnRegister" %>
      </div>
    </div>
  </section> 
  
<% end %>


<section id="secondSection">
  <div class="container">
    <div id="secondSectionContent">
      <div class="row">
      <div class="col col-sm-12 col-md-6" id="secondSectionSecondCol" style="display: flex; align-items: center; flex: initial;">
          <div id="svgSecondSection">
            <%= image_tag('mimi.jpg', alt: 'sandwich', id: "mimiImg") %>
          </div>
        </div>
        <div class="col col-sm-12 col-md-6" class="columSecondSection"  style="display: flex; align-items: center; flex: initial;">
          <div id="contentSecondFirstCol">
            <h1>Servicio de calidad al alcance de un click</h1>
            <p>Nutrialic es una plataforma social en la que pacientes de diferentes partes de Mexico pueden encontrar nutriologos cerca de ellos de una forma rapida, tambien ofrecemos un servicio de consultas en linea que facilita la toma de consultas para nutriologos y clientes.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="thirdSection">
  <div class="text-center">  
  <%= render 'pages/slider' %>
  </div>
  <div class="container boton text-center" id="contenedorBotomHome">
    <button class="btn btn-flat" id="botonHome"> <%= link_to "Más Nutriólogos", professionals_path%> </button>
  </div>
</section>



