
<% @ranking= @professionals %>
<% @top1= @ranking[0]%>
<% @top2= @ranking[1]%>
<% @top3= @ranking[2]%>
<% @top4= @ranking[3]%>
<% @top5= @ranking[4]%>
<% @top6= @ranking[5]%>

<% if user_signed_in? %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(https://res.cloudinary.com/dp693fkkc/image/upload/v1667078055/hero-bg_quswze.jpg);">
    <div class="container">
      <h1>Bienvenido a Nutrialic</h1>
        <p>Felicitaciones por comenzar este viaje junto a nosotros. Cuenta con nuestro apoyo para lograr tus objetivos y mantente enfocado en tus metas!</p>
        <% unless current_user.appointments.empty? %>
          <h2>Consultas pendientes:</h2>
          <% current_user.appointments.each do |appointment| %>
            <div class="card-product" style="margin-top:16px">
              <img src="<%= appointment.professional.photo.url%>"/>
              <div class="card-product-infos">

                <h2><%= " #{appointment.professional.user.name} #{appointment.professional.user.lastname}" %></h2>
                <p> <strong>Direccion:</strong><%= appointment.professional.adress %></p>
                <p> <strong>Fecha:</strong><%= appointment.time %></p>
                <p> <strong>Telefono:</strong><%= appointment.professional.user.phone %></p>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
<% else %>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(https://res.cloudinary.com/dp693fkkc/image/upload/v1667078055/hero-bg_quswze.jpg);">
      <div class="container">
        <h1>¡Nutrialic hace que la Nutrición sea accesible para todos!</h1>
        <p>Si quieres mejorar tu alimentación, registrate como Usuario</p>
        <p> Si eres nutriólogo, registrate como Profesional! </p>
        <%= link_to "Registrarse", new_user_registration_path, class:"btn btn-flat" %>
      </div>
    </div>
<% end %>
<div class="text-center">  
<%= render 'pages/slider' %>
</div>

<div class="container boton text-center" id="contenedorBotomHome">
  <button class="btn btn-flat" id="botonHome"> <%= link_to "Más Nutriólogos", professionals_path%> </button>
</div>




 


