<div class="row rowCitas" style="margin-top:50px">
    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <% current_user.appointments.each do |appointment| %>
            <% if appointment.finalizada %>
                <div class="card-product card-product-aprobado" style="margin-top:16px">
                    <div class="card-product-infos text-center">
                        <h2>Cita con: <%= " #{appointment.professional.user.name} #{appointment.professional.user.lastname}" %></h2>
                        <h4 style="font-size: 1.1rem; color: #3f3844">Estado: Finalizada <span style="color: orange"><i class="fa-solid fa-circle"></i></span></h4>
                        <% if appointment.online %>
                            <p> <strong>Tipo de cita:</strong> En línea</p>
                        <%else%>
                            <p><strong>Tipo de cita:</strong> Presencial</p>
                        <% end %>
                        <p><strong>Fecha:</strong> <span class="fecha-element" data-date-and-time-target="fechaelement"><%= appointment.date %></span> </p>
                        <p><strong>Hora:</strong> <span class="hora-element" data-date-and-time-target="horaelement"><%= appointment.time%></span> </p>
                        <p> <strong>Telefono:</strong><%= " #{appointment.professional.user.phone}" %></p>
                    </div>
                    <div class="imgCardContainer">
                        <img src="<%= appointment.professional.photo.url%>"/>
                    </div>
                </div>
            <% end %>
        <% end %>      
        <% if current_user.appointments.none? { |appointment| appointment.finalizada } %>
            <div id="nutSinCitasPendsMsjContainer" style="background-color: white; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);">
                <h2 id="sinCitasPendientes" style="color: #3f3844">Aún no tienes citas finalizadas</h2>
                <%= image_tag('noData.svg', alt: 'Example SVG', id: "searchsvg") %>
            </div>
        <% end %>
    </div>    
</div>