<div class="container">
  <h2 id="nutriAppointmentsTitle" style="color: #3f3844"> Hola <%= "#{@professional.user.name}" %>, acontinuación te presento tus proximas consultas </h2>
  <% if @professional.appointments.any? %>
  <div class="container consultas"  data-controller="date-and-time">
      <div class="contenedorDerecho"  data-controller="tab-menu">
        <%= render 'appointments/professional_appointments/tab_menu' %>

        <div class="tabcontent tabs-container" style="padding-top: 0" data-tab-menu-target="tabcontent" id="tab1">
          <%= render 'appointments/professional_appointments/pendientes' %>
        </div>

        <div class="tabcontent tabs-container" style="padding-top: 0" data-tab-menu-target="tabcontent" id="tab2">
          <%= render 'appointments/professional_appointments/aprobadas' %>
        </div>

        <div class="tabcontent tabs-container" style="padding-top: 0" data-tab-menu-target="tabcontent" id="tab3">
           <%= render 'appointments/professional_appointments/finalizadas' %>
        </div>
      </div>
  </div>
  <%else%>
    <h1 style="text-align: center; margin-top: 50px">Sin citas registradas</h1>
  <%end%>
</div>

<div id="confirmacionEliminacion" class="confirmacion">
  <div class="confirmacion-contenido">
    <h2>¿Estás seguro de que deseas declinar esta cita?</h2>
    <p style="font-size: 1.2rem">El usuario será notificado via correo electrónico y la cita será eliminada</p>
    <p style="color: #FF9700; font-size: 1.2rem; font-weight: bold"> <i class="fa-solid fa-triangle-exclamation"></i> Esta acción no puede ser desecha <i class="fa-solid fa-triangle-exclamation"></i> </p>
    <div class="confirmacion-botones">
      <button onclick="confirmacionAceptarEliminacion(event)" id="aceptarEliminacionCita">Si, declinar</button>
      <button onclick="confirmacionCancelarEliminacion()" id="cancelarEliminacionCita">No, cancelar</button>
    </div>
  </div>
</div>

<div id="confirmacionFinalizacion" class="confirmacion">
  <div class="confirmacion-contenido">
    <h2>¿Estás seguro de que deseas marcar esta cita como finalizada?</h2>
    <p style="color: #FF9700; font-size: 1.2rem; font-weight: bold"> <i class="fa-solid fa-triangle-exclamation"></i> Esta acción no puede ser desecha <i class="fa-solid fa-triangle-exclamation"></i> </p>
    <div class="confirmacion-botones">
      <button onclick="confirmacionFinalizacionCita(event)" id="aceptarFinalizacionCita">Si, finalizar</button>
      <button onclick="confirmacionCancelarFinaCita()" id="cancelarFinalizacionCita">No, cancelar</button>
    </div>
  </div>
</div>

<div id="confirmacionAceptacion" class="confirmacion">
  <div class="confirmacion-contenido">
    <h2>¿Estás seguro de que deseas aprobar esta cita?</h2>
    <p style="font-size: 1.2rem">El usuario sera notificado via correo electronico.</p>
    <div class="confirmacion-botones">
      <button onclick="confirmacionAceptarCita(event)" id="confirmarAceptacionCita">Si, aceptar</button>
      <button onclick="confirmacionCancelarAcepCita()" id="cancelarAceptacionCita">No, cancelar</button>
    </div>
  </div>
</div>


<script>
  //cancelacion cita
  function mostrarConfirmacionEliminacion(event, appointmentId) {
    event.preventDefault();
    document.getElementById('confirmacionEliminacion').style.display = 'flex';
    document.getElementById('aceptarEliminacionCita').setAttribute('data-appointment-id', appointmentId); // Almacena el ID de la cita en el botón 'Aceptar'
    return false;
  }

  function confirmacionAceptarEliminacion() {
    const appointmentId = event.target.getAttribute('data-appointment-id'); 
    const form = document.getElementById('deleteAppointmentForm_' + appointmentId); 
    document.getElementById('confirmacionEliminacion').style.display = 'none';
    form.submit(); // Envía el formulario correspondiente
  }

  function confirmacionCancelarEliminacion() {
    document.getElementById('confirmacionEliminacion').style.display = 'none';
    return false;
  }

  //aceptacion cita
  function mostrarConfirmacionCita(event, appointmentId) {
    event.preventDefault(); // Previene el envío del formulario automáticamente
    document.getElementById('confirmacionAceptacion').style.display = 'flex';
    document.getElementById('confirmarAceptacionCita').setAttribute('data-appointment-id', appointmentId); // Almacena el ID de la cita en el botón 'Aceptar'
    return false;
  }

  function confirmacionAceptarCita(event) {
    const appointmentId = event.target.getAttribute('data-appointment-id'); // Obtiene el ID de la cita desde el botón 'Aceptar'
    const form = document.getElementById('confirmAppointmentForm_' + appointmentId); // Obtiene el formulario correspondiente
    document.getElementById('confirmacionAceptacion').style.display = 'none';
    form.submit(); // Envía el formulario correspondiente
  }

  function confirmacionCancelarAcepCita() {
    document.getElementById('confirmacionAceptacion').style.display = 'none';
    return false;
  }

  //aceptacion finalizacion
  function mostrarFinalizacionCita(event, appointmentId) {
    event.preventDefault(); // Previene el envío del formulario automáticamente
    document.getElementById('confirmacionFinalizacion').style.display = 'flex';
    document.getElementById('aceptarFinalizacionCita').setAttribute('data-appointment-id', appointmentId); // Almacena el ID de la cita en el botón 'Aceptar'
    return false;
  }

  function confirmacionFinalizacionCita(event) {
    const appointmentId = event.target.getAttribute('data-appointment-id'); // Obtiene el ID de la cita desde el botón 'Aceptar'
    const form = document.getElementById('confirmFinalizacionAppointmentForm_' + appointmentId); // Obtiene el formulario correspondiente
    document.getElementById('confirmacionFinalizacion').style.display = 'none';
    form.submit(); // Envía el formulario correspondiente
  }

  function confirmacionCancelarFinaCita() {
    document.getElementById('confirmacionFinalizacion').style.display = 'none';
    return false;
  }
</script>