<div class="container" id="appointmentContainer">
  <div class="contenedorCita">
    <div class="row">
      <div class="col col-sm-12 col-md-6" id="colNameUser" style="flex: initial;">
        <div class="text-center">
          <h1>Agenda tu Cita con <%= @professional.user.name %></h1>
          <i class="fa-solid fa-calendar-days" style="margin-bottom: 0px"></i>
          <p style="color: #ee7784">¡Recuerda los días y el horario de atención!</p>
          <p style="margin-bottom: 30px"><%= @professional.days %> en un horario de <%= @professional.startAttendingTime.strftime('%H:%M') %> a <%= @professional.endAttendingTime.strftime('%H:%M') %></p>
        </div>
      </div>
      <div class="col col-sm-12 col-md-6" style="flex: initial;">
        <div id="contenedorFormCita">
          <p class="text-center" style="font-size: 1.2rem"> En menos de 24h recibirás una confirmación</p>
          <%= simple_form_for( [@professional, @appointment],
            data: {turbo: false}) do |f| %>
            <div class="form-inputs text-center">
              <div>
                <%= f.label :online, "¿Deseas consulta en línea?", style: "margin-bottom: 10px"%>
                <%= f.input :online, label: "Si",input_html: { autocomplete: "online", checked: false, class: "onlineAppo", style: "float: initial; margin-right: 10px"}%>
              </div>
              <div>
                <%= f.label :date, "Fecha de la Cita:", required: true, style: "margin-bottom: 10px" %>
                <br>
                <%= f.date_field :date, required: true, value: @appointment.date&.strftime('%Y-%m-%d'), class: "picker-appointment", id: "dateAppo"%>
              </div>

              <div class="mt-4">
                <%= f.label :time, "Hora de la Cita:", required: true, style: "margin-bottom: 10px" %>
                <br>
                <%= f.time_field :time, required: true, class: "picker-appointment", id: "timeAppo"%>
              </div>  
            </div>
            <div class="text-center">
              <%= f.button :submit, "Agendar", id: "botonAgendar", class: "btn btn-flat", onclick: "return mostrarConfirmacion();"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="confirmacion" class="confirmacion">
  <div class="confirmacion-contenido">
    <h2>Tu cita sera guardada con la siguiente información, ¿Estas de acuerdo?</h2>
    <p id="onlineAppointment"></p>
    <p id="dateAppoinment"></p>
    <p id="timeAppoinment"></p>
    <div class="confirmacion-botones">
      <button onclick="confirmacionAceptar()" id="aceptarCita">Estoy de acuerdo</button>
      <button onclick="confirmacionCancelar()" id="cancelarCita">Cancelar</button>
    </div>
  </div>
</div>


<script>
  function mostrarConfirmacion() {
    const date = document.querySelector('#dateAppo').value 
    const time = document.querySelector('#timeAppo').value 

    const online = document.querySelector('.onlineAppo')
    let onlineValue = online.checked ? 'Si' : 'No';
    document.querySelector('#onlineAppointment').innerText = 'Deseas consulta en línea?: ' + onlineValue;

    online.addEventListener('click', function() {
      onlineValue = this.checked ? 'Si' : 'No';
      document.querySelector('#onlineAppointment').innerText = 'Deseas consulta en línea?: ' + onlineValue;
    });
    
    document.querySelector('#dateAppoinment').innerText = 'Fecha de la Cita: ' + (date? date : "Sin seleccionar");
    document.querySelector('#timeAppoinment').innerText = 'Hora de la Cita: ' + (time? time: "Sin seleccionar");

    document.getElementById('confirmacion').style.display = 'flex';
    return false;
  }

  function confirmacionAceptar() {
    document.getElementById('confirmacion').style.display = 'none';
    // Continuar con el envío del formulario
    document.forms[0].submit();
  }

  function confirmacionCancelar() {
    document.getElementById('confirmacion').style.display = 'none';
    return false;
  }
</script>