<div class="container" data-controller="date-and-time" style="width: 90%; height: 100%">
    <% if user_signed_in? %>
        <% unless current_user.appointments.empty? %>
            <div class="contenedorDerecho"  data-controller="tab-menu">
                <%= render 'appointments/professional_appointments/tab_menu' %>
                <div class="tabcontent tabs-container" style="padding-top: 0" data-tab-menu-target="tabcontent" id="tab1">
                    <%= render 'appointments/user_appointments/pendientes' %>
                </div>
                <div class="tabcontent tabs-container" style="padding-top: 0" data-tab-menu-target="tabcontent" id="tab2">
                    <%= render 'appointments/user_appointments/aprobadas' %>
                </div>
                <div class="tabcontent tabs-container" style="padding-top: 0" data-tab-menu-target="tabcontent" id="tab3">
                    <%= render 'appointments/user_appointments/finalizadas' %>
                </div>
            <div>
        <% else %>
            <div class="container" id="noAppointments">
                <div style="height: 80%">
                    <div class="row" id="rowNoAppointments">
                        <div class="col col-xs-12 col-sm-12 col-md-6" style="display: flex; align-items: center; flex: initial">
                            <div style="padding: 40px">
                            <h2>Vaya, no hemos encontrado ninguna cita!</h2>
                            <h4>No pierdas la oportunidad de agendar una con uno de nuestros nutriologos.</h4>
                            <button class="btn btn-flat"> <%= link_to "Ver nutriologos", professionals_path%> </button>
                        </div>
                        <div class="col col-xs-12 col-sm-12 col-md-6" style="display: flex; align-items: center; justify-content: center; flex: initial">
                            <div style="width: 100%; padding: 40px">
                                <%= image_tag('byTheRoad.svg', alt: 'Example SVG', id: "searchsvg", style: "width: 100%") %>
                            </div>
                        </div>
                    </div>            
                </div>
            </div> 
        <% end %>
    <% end %>
</div>
</div>