<!DOCTYPE html>
<html>
  <head>
    <title> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/dp693fkkc/image/upload/v1667068095/400JpgdpiLogo_p3bf30.jpg">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css' rel='stylesheet' />
    <script src="https://kit.fontawesome.com/930c1d7f42.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <%= render "shared/navbar" %>
    </header>
    <div class="wrapper">
      <%= yield %>
    </div>
    <p class="alert"><%= alert %></p>
    <footer>
      <%= render "shared/footer" %>
    </footer>
    <%= render "shared/flashes" %>
    
  </body>

</html>
