<!DOCTYPE html>
<html lang="es">
  <head>
 

    <title>Nutrialic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/dp693fkkc/image/upload/v1667068095/400JpgdpiLogo_p3bf30.jpg">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css" integrity="sha512-nNlU0WK2QfKsuEmdcTwkeh+lhGs6uyOxuUs+n+0oXSYDok5qy0EI0lt01ZynHq6+p/tbgpZ7P+yUb+r71wqdXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha512-uURl+ZXMBrF4AwGaWmEetzrd+J5/8NRkWAvJx5sbPSSuOb0bZLqf+tOzniObO00BjHa/dD7gub9oCGMLPQHtQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css' rel='stylesheet' />
    <script src="https://kit.fontawesome.com/930c1d7f42.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600&display=swap" rel="stylesheet">
    
    <!-- Dependencies for client view and component view -->
    <script src="https://source.zoom.us/2.10.1/lib/vendor/react.min.js"></script>
    <script src="https://source.zoom.us/2.10.1/lib/vendor/react-dom.min.js"></script>
    <script src="https://source.zoom.us/2.10.1/lib/vendor/redux.min.js"></script>
    <script src="https://source.zoom.us/2.10.1/lib/vendor/redux-thunk.min.js"></script>
    <script src="https://source.zoom.us/2.10.1/lib/vendor/lodash.min.js"></script>
    <script src="https://source.zoom.us/zoom-meeting-embedded-2.10.1.min.js"></script>
  </head>

  <body>
    <header>
      <%= render "shared/navbar" %>
    </header>
    <div class="wrapper">
      <%= yield %>
    </div>
    <p class="alert"><%= alert %></p>
    <footer>
      <%= render "shared/footer" %>
    </footer>
    <%= render "shared/flashes" %>
    
  </body>

</html>
