<!DOCTYPE html>
<html>
  <head>
    <title> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/dp693fkkc/image/upload/v1667068095/400JpgdpiLogo_p3bf30.jpg">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css' rel='stylesheet' />
  </head>

  <body>
       <%= render "shared/navbar" %>
    <%= yield %>
        <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       <%= render "shared/footer" %>




<%= render "shared/flashes" %>

  </body>
</html>
